:root {
  --flowui-component-library--gray-200: #f3f5fb;
  --flowui-component-library--grey-600: #393b6a;
  --flowui-component-library--gray-900: #160042;
  --flowui-component-library--white: white;
  --flowui-component-library--gray-700: #282556;
  --flowui-component-library--primary-base: #642eff;
  --flowui-component-library--success-lighter: #ebfff6;
  --flowui-component-library--success-darker: #006638;
  --flowui-component-library--gray-400: #b6b9ce;
  --flowui-component-library--grey-300: #e4e6f1;
  --flowui-component-library--gray-500: #6b7094;
  --flowui-component-library--gray-100: #f7f9fd;
  --flowui-component-library--gray-800: #1b114a;
  --flowui-component-library--primary-dark: #2d0896;
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.f-navigation-button {
  background-color: var(--flowui-component-library--gray-900);
  outline-offset: 0px;
  color: var(--flowui-component-library--white);
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 48px;
  outline: 2px solid rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.f-navigation-button:hover {
  background-color: var(--flowui-component-library--gray-700);
}

.f-navigation-content {
  grid-column-gap: 8px;
  align-items: center;
  display: flex;
}

.f-navigation-link {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.01em;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all .35s;
}

.f-navigation-link:hover {
  background-color: var(--flowui-component-library--gray-200);
  color: var(--flowui-component-library--gray-900);
}

.f-navigation-link.w--current {
  color: var(--flowui-component-library--primary-base);
}

.f-navigation-menu {
  grid-column-gap: 6px;
  align-items: center;
  display: flex;
  position: static;
}

.f-logo {
  width: 124px;
}

.f-navigation-link-wrapper {
  grid-column-gap: 24px;
  align-items: center;
  display: flex;
}

.f-navigation-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.f-navigation {
  background-color: #fff;
  align-items: center;
  width: 100%;
  min-height: 88px;
  padding: 24px 5%;
  display: flex;
}

.f-success-message {
  background-color: var(--flowui-component-library--success-lighter);
  color: var(--flowui-component-library--success-darker);
  letter-spacing: -.03em;
  font-size: 14px;
  line-height: 24px;
}

.f-button-neutral {
  background-color: var(--flowui-component-library--gray-900);
  color: var(--flowui-component-library--white);
  text-align: center;
  letter-spacing: -.02em;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.f-button-neutral:hover {
  background-color: var(--flowui-component-library--gray-700);
}

.f-header-input-field {
  color: var(--flowui-component-library--gray-900);
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  min-height: 48px;
  margin-bottom: 0;
  margin-right: 16px;
  padding: 12px 16px;
}

.f-header-input-field::placeholder {
  color: var(--flowui-component-library--gray-400);
}

.f-header-form-wrapper {
  border: 1px solid var(--flowui-component-library--grey-300);
  background-color: #fff;
  border-radius: 50px;
  align-items: center;
  padding: 4px;
  display: flex;
}

.f-header-form-block {
  max-width: 360px;
  margin-bottom: 0;
}

.f-paragraph-large {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 32px;
}

.f-margin-bottom-40 {
  margin-bottom: 40px;
}

.f-h1-heading {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  line-height: 1.2;
}

.f-margin-bottom-24 {
  margin-bottom: 24px;
}

.f-heading-detail-small {
  color: var(--flowui-component-library--gray-500);
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.f-margin-bottom-08 {
  margin-bottom: 8px;
}

.f-header-title-wrapper-center {
  z-index: 5;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.f-image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.f-header-image-wrapper-top {
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-bottom: 48px;
  display: flex;
  overflow: hidden;
}

.f-container-regular {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large {
  padding: 92px 5%;
  position: relative;
}

.f-paragraph-small {
  letter-spacing: -.01em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8;
}

.f-sub-heading-large {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.f-margin-bottom-41 {
  margin-bottom: 8px;
}

.f-feature-icon-wrapper {
  background-color: var(--flowui-component-library--gray-100);
  border-radius: 8px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  min-width: 72px;
  height: 72px;
  min-height: 72px;
  margin-bottom: 32px;
  padding: 16px;
  display: flex;
}

.f-grid-four-columns {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.f-h3-heading {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}

.f-margin-bottom-16 {
  margin-bottom: 16px;
}

.f-title-wrapper-center {
  z-index: 5;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.f-margin-bottom-128 {
  margin-bottom: 128px;
}

.f-margin-bottom-129 {
  margin-bottom: 8px;
}

.f-margin-bottom-130 {
  margin-bottom: 128px;
}

.div-block, .div-block-2, .div-block-3, .div-block-4 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.f-field-input {
  border: 1px solid var(--flowui-component-library--grey-300);
  border-radius: 8px;
  min-height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  transition: all .2s;
}

.f-field-input:focus {
  border-color: var(--flowui-component-library--gray-400);
}

.f-field-input::placeholder {
  color: var(--flowui-component-library--gray-500);
}

.f-field-label {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.01em;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.f-field-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15vw;
  margin-right: 15vw;
}

.f-success-message-2 {
  background-color: var(--flowui-component-library--success-lighter);
  color: var(--flowui-component-library--success-darker);
  letter-spacing: -.03em;
  font-size: 14px;
  line-height: 24px;
}

.f-button-secondary {
  border: 1px solid var(--flowui-component-library--grey-300);
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  background-color: #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: border-color .3s, background-color .3s;
  display: flex;
}

.f-button-secondary:hover {
  background-color: var(--flowui-component-library--gray-200);
  border-color: rgba(0, 0, 0, 0);
}

.f-input-outlined {
  border: 1px solid var(--flowui-component-library--grey-300);
  border-radius: 8px;
  min-height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
}

.f-input-outlined:focus {
  border-color: var(--flowui-component-library--gray-400);
}

.f-input-outlined::placeholder {
  color: var(--flowui-component-library--gray-400);
}

.f-content-form {
  grid-column-gap: 8px;
  align-items: center;
  display: flex;
}

.f-content-form-block {
  margin-top: 32px;
  margin-bottom: 0;
}

.f-paragraph-large-2 {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 32px;
}

.f-margin-bottom-32 {
  margin-bottom: 32px;
}

.f-h3-heading-2 {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}

.f-margin-bottom-131 {
  margin-bottom: 16px;
}

.f-content-icon-wrapper {
  background-color: var(--flowui-component-library--gray-100);
  border-radius: 8px;
  width: 72px;
  min-width: 72px;
  height: 72px;
  min-height: 72px;
  margin-bottom: 32px;
  padding: 16px;
}

.f-image-cover-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.f-content-image-wrapper {
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  height: 430px;
  overflow: hidden;
}

.f-grid-two-column {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.f-container-regular-2 {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large-2 {
  padding: 92px 5%;
  position: relative;
}

.f-footer-link {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -.01em;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition: color .3s;
}

.f-footer-link:hover {
  color: var(--flowui-component-library--primary-base);
}

.f-footer-vertical-divider {
  background-color: var(--flowui-component-library--grey-300);
  width: 1px;
  height: 16px;
}

.f-footer-menu {
  grid-column-gap: 24px;
  flex: none;
  align-items: center;
  display: flex;
}

.f-footer-detail {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.f-footer-brand {
  align-items: center;
  display: flex;
}

.f-footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.f-footer-horizontal-divider {
  background-color: var(--flowui-component-library--grey-300);
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.f-icon-regular {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: color .2s;
  display: flex;
}

.f-footer-social {
  background-color: var(--flowui-component-library--gray-200);
  color: var(--flowui-component-library--gray-900);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: color .3s;
  display: flex;
}

.f-footer-social:hover {
  color: var(--flowui-component-library--primary-base);
}

.f-footer-social-group {
  grid-column-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.f-footer-social-row-large {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
  display: flex;
}

.f-footer-group {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.f-footer-logo {
  flex: none;
}

.f-container-large {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-footer-small {
  background-color: var(--flowui-component-library--white);
  padding: 32px 5%;
  position: relative;
}

.f-checkbox-label {
  color: var(--flowui-component-library--gray-900);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.f-checkbox {
  border-width: 2px;
  border-color: var(--flowui-component-library--gray-400);
  background-color: var(--flowui-component-library--white);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
}

.f-checkbox.w--redirected-checked {
  background-color: var(--flowui-component-library--gray-900);
  background-size: 12px;
  border-style: none;
  border-radius: 4px;
}

.f-checkbox.w--redirected-focus {
  box-shadow: none;
}

.f-checkbox-field {
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.f-dropdown-link {
  color: var(--flowui-component-library--gray-800);
  letter-spacing: -.01em;
  border-radius: 4px;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.f-dropdown-link:hover, .f-dropdown-link:focus {
  background-color: var(--flowui-component-library--gray-200);
}

.f-dropdown-link.w--current {
  color: var(--flowui-component-library--primary-dark);
}

.f-dropdown-checkbox-form {
  margin-bottom: 0;
}

.f-dropdown-wrap {
  z-index: 999;
  background-color: #fff;
  height: auto;
  padding: 8px;
}

.f-dropdown-list.w--open {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 12px;
  overflow: hidden;
  box-shadow: 34px 34px 88px rgba(177, 186, 200, .16);
}

.f-paragraph-small-2 {
  letter-spacing: -.01em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8;
}

.f-dropdown-icon-l {
  color: var(--flowui-component-library--gray-500);
  margin-right: 16px;
  font-size: 14px;
}

.f-dropdown-toggle {
  border: 1px solid var(--flowui-component-library--grey-300);
  color: var(--flowui-component-library--gray-900);
  border-radius: 8px;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  transition: border-color .3s;
  display: inline-block;
}

.f-dropdown-toggle:hover {
  border-color: var(--flowui-component-library--primary-base);
  outline-offset: 1px;
  outline: 2px solid rgba(100, 46, 255, .1);
}

.f-dropdown-toggle.w--open {
  border-color: var(--flowui-component-library--primary-base);
  outline-offset: 0px;
  outline: 2px solid rgba(100, 46, 255, .1);
}

.f-dropdown {
  width: 100%;
  max-width: 240px;
  margin-bottom: 5vh;
  display: flex;
}

.form-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.select-field {
  text-align: center;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: block;
}

.form {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  display: flex;
}

@media screen and (max-width: 991px) {
  .f-navigation-menu-button {
    border: 1px solid var(--flowui-component-library--gray-200);
    color: var(--flowui-component-library--grey-600);
    border-radius: 8px;
    padding: 10px;
  }

  .f-navigation-menu-button.w--open {
    background-color: var(--flowui-component-library--gray-900);
    border-color: #fff;
  }

  .f-navigation-content {
    align-items: center;
    width: auto;
    display: flex;
  }

  .f-navigation-link {
    width: 100%;
  }

  .f-navigation-menu {
    background-color: var(--flowui-component-library--white);
    color: var(--flowui-component-library--grey-600);
    padding: 12px;
    position: absolute;
  }

  .f-navigation-menu.w--open {
    background-color: var(--flowui-component-library--gray-700);
    border-color: #fff;
  }

  .f-navigation-logo-link {
    margin-right: 0;
  }

  .f-navigation {
    position: relative;
  }

  .f-grid-four-columns {
    grid-template-columns: 1fr 1fr;
  }

  .f-content-image-wrapper {
    max-width: 100%;
  }

  .f-grid-two-column {
    grid-template-columns: 1fr;
  }

  .f-footer-bottom {
    grid-row-gap: 24px;
    flex-direction: column;
  }

  .f-footer-social-row-large {
    margin-left: 0;
  }

  .f-footer-group {
    grid-row-gap: 16px;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .f-h1-heading {
    margin-top: 0;
    font-size: 48px;
  }

  .f-header-image-wrapper-top {
    height: 490px;
  }

  .f-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .f-grid-four-columns {
    grid-template-columns: 1fr;
  }

  .f-h3-heading, .f-h3-heading-2 {
    font-size: 40px;
  }

  .f-section-large-2 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 479px) {
  .f-navigation-button {
    display: none;
  }

  .f-header-image-wrapper-top {
    height: 390px;
  }

  .f-content-form {
    flex-direction: column;
  }

  .f-footer-vertical-divider {
    display: none;
  }

  .f-footer-menu {
    flex-direction: column;
  }

  .f-dropdown {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

#w-node-c68576ba-8ffd-fd1e-86ee-5545ba6c9ae1-58274490 {
  align-self: center;
  justify-self: center;
}

#w-node-bcf1054d-3c0a-2105-fb11-aa50ce2e8b77-58274490 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_48259cce-df2c-12c7-3364-37b36c9b663d-58274490 {
    order: -9999;
  }
}
